:root {
    --main-branding-color: #FFFFFF;
    --main-font: "Playfair Display", serif;
    --secondary-font: "Poppins", sans-serif;
    --main-font-color: black;
    --button-color: #6C63FE;
}
.playfair-display {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.poppins-regular {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-style: normal;
}

h1, h2, p, btn {
    text-align: center;
    color: var(--main-font-color);
    font-weight: bold;
}
h1 {
    font-family: var(--main-font);
}
h2 {
  font-family: var(--secondary-font);
}
.hero {
    background-color: #F9F7FE;
    justify-content: center;
    align-items: center;
    padding: 160px 20px;
}


@media (min-width: 300px) {
  .hero h1 {
    font-size: 45px;
  }
  .hero p {
    font-size: 45px;
    font-weight:600;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero {
    padding: 90px 20px;
  }
}

.btn-branding {
    background-color: var(--button-color);
    color: white;
    padding: 15px 32px; /* Some padding */
    text-decoration: none; /* Remove underline */
    border-radius: 4px;
    font-family: var(--secondary-font);
}

.btn-body {
  color: var(--button-color);
  padding: 15px 32px;
  border: 1px solid var(--button-color);
  background-color: white;
  border-radius: 4px;
}

